@model Movie_Tracker.Models.Actor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNastere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNastere)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.IdActor">Edit</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
