@model IEnumerable<Movie_Tracker.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create">Create New</a>
        }
    }
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nume", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Gen", "Index", new { sortOrder = ViewBag.GenSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durata)
            </th>
            <th>
                @Html.ActionLink("DataLansare", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRegizor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompozitorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdScenaristNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Durata)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataLansare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRegizor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCompozitorNavigation.IdCompozitor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdScenaristNavigation.IdScenarist)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdFilm">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.IdFilm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.IdFilm">Delete</a>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
